<ui-view>
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Customers</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    List of Customers
                    <div class="pull-right"><a ui-sref="create_customer" class="btn btn-xs btn-primary">Add Customer</a></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr ng-show="data.customer_count > 0">
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="customer in data.customers">
                                <td ng-bind="customer.id"></td>
                                <td ng-bind="customer.first_name"></td>
                                <td ng-bind="customer.last_name"></td>
                                <td class="center" ng-bind="customer.phone_number"></td>
                                <td ng-bind="customer.address"></td>
                                <td>
                                    <a class="btn btn-xs btn-primary" ui-sref="update_customer({id: customer.id})">Update</a>
                                    <button class="btn btn-xs btn-danger" ng-click="delete(customer.id)">Delete</button>
                                </td>
                            </tr>
                            <tr><p class="text-center">{{ data.customer_count }} customers currently</p></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</ui-view>